.contact { 
    max-width: 500px;
    margin: 0 auto;
}

.contact__form {
    width: 550px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.contact__form input,
.contact__form textarea,
.contact__form button {
    margin: 0.3rem 0 1rem 0;;
    padding: .3rem;
}

.contact__form button {
    padding: 1.2rem;
}

.contact__form textarea {
    height: 150px;
}

.contact__form button {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1100px) {
    .contact__form {
        width: 250px;
        padding: 0;
    }

    .button__form {
        display: flex;
        justify-content: center;
    }
}