.container-projects{
    padding: 0 15% 0 15%;
}
.info-project-text{
    flex: 1;
}

.info-project-image{
    display: flex;
    justify-content: center;
    flex: 1;
}

.info-project{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    scroll-snap-align: start;
    overflow: hidden;
} 

.img-project{
    width: 90%;
    clip-path: circle(30%);
}
