* {
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  
}

.App-footer {
  padding: 0;
}

section{
  padding: 0 15% 0 15%;
}

.nav-space{
  width: 10%;
  height: 100px;
}


@media only screen and (max-width: 375px) {
  * { 
    scroll-behavior: none;
    scroll-snap-type: none;
  }

  .nav-space{
    display: none;
  }
}
